/* ///////////// */
/* 初期化 */
/* ///////////// */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
  font-size: 62.5%;
  /* デフォルトが16px→10pxに訂正 */
  /* remはpxの10分の1だから考えやすくなる */
}

body{
  color: #3e3e3e;
}

/* ///////////// */
/* ここから */
/* ///////////// */
body{
	font-family: Helvetica,"游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  color: #3e3e3e;
}

header img{
	width: 100%;
}

.wrapper{
  font-size: 62.5%;
  /* デフォルトが16px→10pxに訂正 */
  /* remはpxの10分の1だから考えやすくなる */
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
}

h2::first-letter {
  font-size: 3.8rem;
	font-weight: bold;
  color: #7172ac;
}

h2 img{
	width: 7rem;
	padding-left: 1rem;
}

.wow{
	width: 9rem;
	padding-left: 0rem;
}

.result-button {
  font-size: 2rem;
}

.wrapper{
  margin-top: 1rem;
  margin-left: 1rem;
}

.content{
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.crypts{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.crypto-select{
	margin: 0 1rem 1rem 0;
	cursor: pointer;
}

.crypto-select:hover{
	border: 11px solid #aaffff;
	border-radius: 2.3rem;
}

.crypto-select img{
  width: 30rem;
	display: block;
	overflow: hidden;
}

.crypto-select img:hover{
  cursor: pointer;
	margin: -11px;
	/* box-sizing: border-box;
	border: 10px solid black; */
}

.crypto-selected{
	border: 11px solid #aaffff;
	border-radius: 2.3rem;
}

.crypto-selected img{
	margin: -11px;
}


.crypt-click-select{
  border: solid 2px blue;
}

.loading{
	opacity: 0.2;
}

#btc, #eth, #xrp, #ltc{

}

.assets {
	width: 30%;
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.asset-select{
	margin: 1rem auto;
	padding: 0 5rem 0 0;
	text-align: center;
	width: 15rem;
	cursor: pointer;
}

.asset-select p{
	width: 80%;
	font-size: 2rem;
	position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.75em 0.8em;
  text-decoration: none;
  color: #00BCD4;
  background: #f8f8f8;
  border-radius: 0 15px 15px 0;
  transition: .25s;
}

.asset-select p:hover{
	background: #636363;
}

.asset-selected p{
	background: #636363;
}

.terms{
	width: 30%;
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.term-select{
	margin: 1rem auto;
	padding: 0 5rem 0 0;
	text-align: center;
	width: 15rem;
}

.term-select p{
	width: 80%;
	font-size: 2rem;
	position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.75em 0.8em;
  text-decoration: none;
  color: #00BCD4;
  background: #f8f8f8;
  border-radius: 0 15px 15px 0;
  transition: .25s;
	cursor: pointer;
}

.term-select p:hover{
	background: #636363;
}

.term-selected p{
	background: #636363;
}

.results {
  margin: 2rem 0 0 0;
  font-size: 2rem;
}

.result {
  margin: 1rem;
	padding: 0 0 0 1rem;
}

.result p {
	padding: 1rem 0 0 0;
	line-height: 2.2rem;
}

.chart-description{
	padding: 0.5rem 0;
}

#term {
  font-size: 1.8rem;
}

#beggining-month, #today-show{
	margin-top: 2rem;
	font-size: 2.5rem;
	font-weight: bold;
}

/* ここから下がボタンのCSS　*/

.hide-button{
	display: none;
	transition: .5s;
}

.result-button {
	margin-left: 1rem;
  display: inline-block;
  width: 24rem;
  text-align: center;
  font-size: 2rem;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 24px 24px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #FF006E, #FFD500);
  transition: .5s;
  background-size: 200%;
}

.result-button:hover {
  background-position: right center;
}

.result-button:disabled {
	opacity: 0.3;
}

#resimulate-button{
	margin-left: 1rem;
  display: inline-block;
  width: 24rem;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #68a56f, #92e59c);
  transition: .5s;
  background-size: 200%;
	cursor: pointer;
}

#twitter{
	margin: 1.5rem 0;
	margin-left: 1rem;
  display: block;
  width: 30rem;
  text-align: center;
  font-size: 1.8rem;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 26px 34px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #2780db, #66a6e8);
  transition: .5s;
  background-size: 200%;
	cursor: pointer;
}

#twitter img{
	margin-top: 1rem;
	text-align: center;
	width: 5rem;
	display: inline-block;
}

/* ///////////// */
/* コインマーケットキャップ */
/* ///////////// */
.now-price{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
 @media only screen and (max-width: 767px)  {
 	.now-price{
      grid-template-columns: 1fr;
   }
}

.coinmarketcap-currency-widget{
	margin: 0.3rem 0.3rem 0 0;
}


/* ///////////// */
/* 背景デザイン */
/* ///////////// */
#inner-content {
	background-color: #fcfeff;
	background-image:
	 radial-gradient(#ededed 1px, transparent 1px);
	background-size: 20px 20px;
}



/* ///////////// */
/* storkテンプレート対策 */
/* ///////////// */
.entry-content h2{
	background: initial;
	color: initial;
	box-shadow: initial;
	padding: initial;
	font-size: initial;
}

#myChart{

}

h2 {
	line-height: initial;
	/* h2のfont-sizeが効かないので */

}

.h_balloon .entry-content h2:after{
	/* h2タグのオレンジの吹き出しを消す */
	content: initial;
}

#content.lp-wrap h2{
	font-size: initial;
	font-size: 1.8rem;
}

img {
	/* h2の画像の位置をずらしていた */
	vertical-align: initial;
	/* 銘柄を選ぶの画像を小さくしていた */
	max-width: initial;
}

.entry-content img{
	/* h2の画像のズレを消す */
	margin: initial;
	max-width: initial;
}

.crypto-select img{
	width: initial;
	width: 18rem;
}

.asset-select p{
	width: initial;

	/* 投資金額の選択項目を調節 */
	padding: initial;
	padding: .25em .8em;
}

.term-select p{
	width: initial;

	/* 投資金額の選択項目を調節 */
	padding: initial;
	padding: .25em .8em;
}

.entry-content p{
	margin: initial;
	margin: 0;
}

.bgfull .footer, .footer.bg, .footer .inner{
 width: 100%;
}

.crypto-selected img {
	margin: -11px !important;
}

#main .article header{
	padding: initial;
}

#content.lp-wrap .hentry header{
	padding: initial;
	padding: .8rem;
}

.single-title, .page-title, .entry-title{
	margin: initial;
	margin: .2em 0;
}


@media only screen and (max-width: 767px)  {
		#content.lp-wrap h2{
			font-size: initial;
			font-size: 1.2rem;
		}
		h2 img{
			width: 4rem;
			padding-left: 0.2rem;
		}
		h2::first-letter {
		  font-size: 2.8rem;
		}
		.wow{
			width: 5rem;
		}
		.crypto-select img{
			width: 8rem;
		}
		.crypto-selected img{
			margin: -4px !important
		}
		.crypto-selected{
			border: 4px solid #aff;
			border-radius: 1rem;
		}
		.crypto-select:hover{
			border: 4px solid #aff;
			border-radius: 1rem;
		}
		.assets{
			margin: 1rem;
		}
		.asset-select{
			text-align: initial;
			width: 10rem;
			padding: 0 1rem 0 0;
		}
		.asset-select p{
			padding: .15em .4em;
			font-size: 1.5rem;
		}
		.terms{
			margin: 1rem;
		}
		#term{
			font-size: 1.3rem;
		}
		.term-select{
			text-align: initial;
			width: 10rem;
			padding: 0 1rem 0 0;
		}
		.term-select p{
			padding: .15em .4em;
			font-size: 1.5rem;
		}
		.result-button{
			width: 14rem;
			font-size: 1.5rem;
		}
		.result{
			margin: 0;
			font-size: 1.6rem;
			padding: 0 0 0.3rem 0;
		}
		#beggining-month, #today-show{
			font-size:  1.8rem;
		}
		#term{
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
		#twitter{
			width: 16rem;
			margin-left: 0rem;
			font-size: 1rem;
			padding: 24px 14px;
		}
		#resimulate-button{
			margin-left: 0rem;
			width: 14rem;
			font-size: 0.8rem;
		}
		.chart-description{
			font-size: 1.4rem;
		}
  }
